

@font-face {
    font-family: fraunces;
    src: url(../fonts/fraunces/static/Fraunces_144pt-SemiBold.ttf) format("truetype");
}

@font-face {
    font-family: manrope;
    src: url(../fonts/manrope/static/Manrope-Regular.ttf) format("truetype");
}

* {
    border: 0;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    background-color: #ffffff;
    overflow-x: hidden;
}

.section-1 {
    background-image: url(../images/bg-pattern-1.svg), url(../images/bg-pattern-2.svg);
    background-repeat: no-repeat;
    background-position: -7% 10em, 103% 21em;
    background-size: 270px, 141px;
    overflow-x: hidden
}

.section-1::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 750px;
    background-color: #FCF8FF;
    z-index: -1;
     overflow-x: hidden
}

.section-1::after {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 750px;
    background: #24053E;
    border-radius: 0 0 80% 80%;
    transform: scaleX(1.5);
    z-index: -1;
    overflow-x: hidden
}

.header {
    display: flex;
    align-items: center;
    height: 40px;

}

.header img {
    position: absolute;
    left: 10%;
    margin-top: 4em;
}

.header p {
    position: absolute;
    right: 10%;
    font-family: manrope;
    font-size: 18px;
    font-weight: 700;
    color: white;
    cursor: pointer;
    transition: 0.2s ease;
    margin-top: 4em;
}

.header p::before {
    content: "";
    width:132px ;
    border: 2px solid #44FFA1;
    position: absolute;
    margin-top: 1.5em;
}

.header p:hover {
    color: #44FFA1;
}

.header p:active {
    transform: scale(0.92);
}

.title {
    display: grid;
    place-items: center;
    text-align: center;
    margin-top: 8em;
}

.title h1 {
    max-width: 630px;
    font-family: fraunces;
    font-size: 80px;
    line-height: 80px;
    color: #ffffff;
    font-weight: 600;
}

.title span:before{
    content: "";
    width: 241px;
    border: 2px solid #44FFA1;
    position: absolute;
    margin-top: 1em;
}

.title button {
    background-color: #44FFA1;
    width: 161px;
    height: 61px;
    margin-top: 2em;
    font-family: manrope;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.title button:hover{
    background-color: transparent;
    border: 2px solid #44FFA1;
    color: #44FFA1;
}

.title button:active {
    transform: scale(0.92);
}

.title img {
    margin-top: 3em;
    width: 767px;
}

.section-2::after {
    content: "";
    position: absolute;
    top: 46.9em;
    width: 100%;
    height: 630px;
    transform: scaleX(1.5);
    background: #FCF8FF;
    border-radius: 0 0 80% 80%;
    z-index: -1;
    overflow-x: hidden
}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card-1, .card-2, .card-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 6em 1em 1em 1em;
}

.card-1 span, .card-2 span, .card-3 span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-family: fraunces;
    width: 54px;
    height: 54px;
    border: 1px solid #24053E;
    border-radius: 50%;
}


.card-1 h2, .card-2 h3, .card-3 h4 {
    color: #24053E;
    font-family: fraunces;
    font-size: 32px;
    margin-top: 1em;
} 

.card-1 p, .card-2 p, .card-3 p {
    color: #24053E;
    font-family: manrope;
    font-size: 18px;
    width: 354px;
    margin-top: 1em;
}

.cardmodel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15em;
}

.model-img img {
    width: 477px;
}

.card-model {
    background-color: #24053E;
    max-width: 730px;
    color: #ffffff;
    padding: 4em 3em 3em 3em;
    position: relative;
    top: 7em;
    margin-left: -6em;
}

.card-model h5 {
    font-size: 56px;
    font-family: fraunces;
}

.card-model p {
    font-size: 18px;
    font-family: manrope;
    max-width: 600px;
    margin-top: 1em;
}

.card-model button {
    width: 190px;
    height: 61px;
    background-color: #44FFA1;
    font-size: 18px;
    font-family: manrope;
    font-weight: 700;
    color: #24053E;
    margin-top: 2em;
    cursor: pointer;
    transition: all 0.2s ease;
}

.card-model button:hover {
    background-color: transparent;
    border: 2px solid #44FFA1;
    color: #44FFA1;
}

.card-model button:active {
    transform: scale(0.92);
}

.card-model img {
    position: absolute;
    margin: 1em 0em 0em 6em;
}

.footer {
    display: grid;
    place-items: center;
    margin-top: 10em;
}

.logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 97px;
    margin-top: 2em;
    padding: 1em;
    transition: all 0.2s ease;
}

.logos img:active {
    transform: scale(0.92);
}

.attribution {
    text-align: center;
    margin-top: 3em;
    padding: 1em;
    font-size: 13px;
    font-family: manrope;
    color: #24053E;
}

.attribution a {
    color: #24053E;
}
